<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTg6yncenhtF4ILuWXGyTLxBtKCie4phk</string>
	<key>GCM_SENDER_ID</key>
	<string>122853780352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>sahayak-ai-9519a</string>
	<key>STORAGE_BUCKET</key>
	<string>sahayak-ai-9519a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122853780352:ios:2811ce5f4dab84b479af65</string>
	<key>DATABASE_URL</key>
	<string>https://sahayak-ai-9519a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>